/node_modules
/dist
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/.env.development
/.env.test
/.env.production
/.cache
/.next
/.nuxt
/.nuxt/dist
/.nuxt/standalone
/.nuxt/legacy
/.nuxt/components
/.nuxt/auto-imports
/.nuxt/nuxt.config.js
/.nuxt/nuxt.config.ts
/.nuxt/nuxt.config.mjs
.history
/.vscode
/database